<div class="text-center mt-4" *ngIf="isLoading; else loaded">
  <div class="spinner-border" style="width: 5rem; height: 5rem;" *ngIf="isLoading; else loaded" role="status">
  </div>
  <p>Cargando proveedores...</p>
</div>

<ng-template #loaded>
  <div class="container contenedor">
      <div class="container text-center">
          <p class="fs-3">Catálogo de proveedores</p>
      </div>
      <div class="mt-2 text-center">
          <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">RFC</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Direccion</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of listaProveedores">
                  <td>{{p.nombreProveedor}}</td>
                  <td>{{p.RFC}}</td>
                  <td>{{p.telefono}}</td>
                  <td>{{p.direccion.calle}}</td>
                  <td>
                    <button class="button button--primary m-2" value="{{p._id}}" (click)="navegarProveedor(p._id.$oid)">Actualizar</button>
                    <button class="button button--secondary" value="{{p._id}}" (click)="eliminarProveedores(p._id.$oid)">Eliminar</button>
                  </td>
  
  
                </tr>
              </tbody>
  
            </table>
      </div>
  </div>
</ng-template>

<!-- Button trigger modal -->


<!-- Modal -->
